- kind: Role
  name: anonymous
  specs:
    permissions:
      - "proxy:nodes"

- kind: Role
  name: guest
  specs:
    permissions:
      - "read:*"

- kind: Role
  name: signer
  specs:
    permissions:
      - "read:*"
      - "sign:keys"
      - "sign:ethereum"

- kind: Role
  name: admin
  specs:
    permissions:
      - "*:*"
