- kind: AWSSecrets
  name: aws-secrets
  specs:
    accessID: '{REPLACE BY AWS ACCESS ID}'
    secretKey: '{REPLACE BY AWS SECRET KEY}'
    region: '{REPLACE BY AWS SECRET REGION}'
    debug: false
- kind: AWSKeys
  name: aws-keys
  specs:
    accessID: '{REPLACE BY AWS ACCESS ID}'
    secretKey: '{REPLACE BY AWS SECRET KEY}'
    region: '{REPLACE BY AWS SECRET REGION}'
    debug: false
