- kind: AKVSecrets
  name: akv-secrets
  specs:
    vaultName: '{REPLACE BY VAULT NAME}'
    tenantID: '{REPLACE BY AKV TENANT ID}'
    clientID: '{REPLACE BY AKV CLIENT ID}'
    clientSecret: '{REPLACE BY AKV CLIENT SECRET}'
- kind: AKVKeys
  name: akv-keys
  specs:
    vaultName: '{REPLACE BY AKV VAULT NAME}'
    tenantID: '{REPLACE BY AKV TENANT ID}'
    clientID: '{REPLACE BY AKV CLIENT ID}'
    clientSecret: '{REPLACE BY AKV CLIENT SECRET}'
